    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        user-select: none;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        background-image: url('./images/bc.png');
        overflow: hidden;
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        display: flex;
        padding: 25px;
        gap: 25px;
        flex-wrap: wrap;
        height: 100vh;
        justify-content: center;
    }
    
    .container>* {
        flex-basis: 250px;
        height: 200px;
        height: 190px;
        animation: slide-in-blurred-br 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }
    
    .card-wrapper {
        perspective: 700px;
    }
    
    .card {
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(169, 215, 255);
        transition: background-color 3s, transform 0.4s;
        cursor: pointer;
        transform: rotateY(0deg);
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        /* bottom: 0; */
        visibility: hidden;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
    
    .front {
        transform: rotateY(180deg);
        backface-visibility: hidden;
        height: 100%;
    }
    
    .front img,
    .back img {
        pointer-events: none;
    }
    
    .back {
        backface-visibility: hidden;
    }
    
    .card.flipped {
        /* display: block; */
        transform: rotateY(180deg);
    }
    
    .card>*.active {
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: visible;
        visibility: visible;
    }