    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        user-select: none;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        background-image: url('./images/bc.png');
        overflow: hidden;
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        display: flex;
        padding: 25px;
        gap: 25px;
        flex-wrap: wrap;
        height: 100vh;
        justify-content: center;
    }
    
    .container>* {
        flex-basis: 250px;
        height: 200px;
        height: 190px;
        cursor: pointer;
    }
    
    .card-wrapper {}
    
    .card {
        perspective: 700px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateY(0deg);
        position: relative;
        border-radius: 20px;
    }
    
    .front,
    .back {
        border-radius: 20px;
        background: rgb(169, 215, 255);
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* pointer-events: none; */
        transition: transform 0.4s, background 3s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    .front {
        transform: rotateY(180deg);
        height: 100%;
    }
    
    .front img,
    .back img {
        pointer-events: none;
    }
    
    .card.flipped .front {
        transform: rotateY(360deg);
    }
    
    .card.flipped .back {
        transform: rotateY(180deg);
    }